.wrapper {
    padding: 1.5rem 2rem;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
}

.navbar .logo {
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-right: 1.5rem;
    list-style: none;
}

.navbar ul li a,
.navbar a {
    text-decoration: none;
    color: #7a7a7a;
}

.home {
    margin-top: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.charts {
    display: grid;
    grid-template-areas:
        "left right"
        "bottom bottom";
    gap: 2rem;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.item1 {
    grid-area: left;
}
.item2 {
    grid-area: right;
}
.item3 {
    grid-area: bottom;
}

.home .detail_url {
    position: absolute;
    text-decoration: none;
    font-size: 13px;
}

.home .detail_url.major {
    top: 15.5%;
    right: 5%;
}

.home .detail_url.lecturer {
    bottom: 37%;
    right: 5%;
}

.author {
    margin: 0 2rem;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header form {
    width: 30%;
}

.header .actions button {
    margin-left: 1rem;
}
