.wrapper {
  padding: 3em;
}

.flex {
  display: flex;
  justify-content: center;
}

.charts {
  display: grid;
  grid-template-areas:
    'left right'
    'bottom bottom';
  gap: 2rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.item1 {
  grid-area: left;
}
.item2 {
  grid-area: right;
}
.item3 {
  grid-area: bottom;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header form {
  width: 30%;
}

.header .actions button {
  margin-left: 1rem;
}
