.wrapper {
  padding: 3em;
}

.flex {
  display: flex;
  justify-content: center;
}

.charts {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header form {
  width: 30%;
}

.header .actions button {
  margin-left: 1rem;
}
